body{
    background-image: url(https://media2.zipcar.com/drupal-presales/files/hero_img/London_Wide_1920-min%20%281%29.jpg);
    background-size: 170%;
    background-position: -300px;
    opacity: 0.9;
    text-align: center;
}

.homePage {
    text-align: center;
}
.heading{
    font-weight: bold;
    padding-top: 50px;
    color: white;
}
.paragraph{
    color: white;
    padding-top: 30px;
    width: 50%;
    margin: auto;
}