
.donationForm {
    background-image: linear-gradient(to right, yellow, limegreen);
    border-radius: 1.5rem;
    max-width: 30%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.dollarSign {
    position: absolute;
    right: 20px;
    top: 48px;
    font-weight: bolder;
}

.donationForm > h2 {
    font-weight: bolder;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}